<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse" style="background-color: lightblue;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'welcome' %}">GALLERY </a>
      <!-- from bootstrap -->
      <!-- <li class="nav-item dropdown"> -->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Location

          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/location/1">Kigali</a>
            <a class="dropdown-item" href="/location/2">Nyungwe</a>
            <a class="dropdown-item" href="/location/3">Rwanda</a>
            <a class="dropdown-item" href="/location/4">Volcanoes</a>
          </div>
        <!-- </li> -->
      <!-- end -->
    </div>
     <!-- Adding a search form  -->
     <div class="col-sm-4 col-md-4 navbar-right">

        <form class="navbar-form" role="search" action="{% url 'search_results' %} ">

          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" name="image">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
            </div>
          </div>

        </form>
      </div>
      <!-- search form end-->
      </div>
</nav>
</body>
</html>
